* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --heading-font: "Playpen Sans", cursive;
    --body-font: "Edu SA Beginner", serif;

    --heading-color: rgb(7, 109, 211);
    --body-color: rgb(43, 44, 65);
    --background-color: rgb(252, 252, 234);
    --extra-blue: rgb(10, 167, 240);
}

h1 {
    font-family: "Playpen Sans", cursive;
    color: var(--heading-color);
    font-weight: 800;
    font-size: 42px;
}

h2 {
    font-family: var(--heading-font);
    color: var(--extra-blue);
    background-color: var(--body-color);
    text-align: center;
    padding: 2px;
    margin-bottom: 5px;
    font-size: 35px;
    border-radius: 6px 50px;
    border: 2px solid var(--extra-blue);
}

body, footer {
    font-family: var(--body-font);
    font-size: 20px;
}

header, footer {
    background-color: var(--background-color);
    text-align: center;
}

header {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 4vw;
    font-size: 30px;;
}

header img {
    margin-right: 4vw;
    width: 100px;
    height: 100px;
    align-self: center;

}

#hamburgerMenu {
    display: block;
    font-size: 40px;
    background: none;
    border: none;
    color: var(--heading-color);
    cursor: pointer;
    width: 50px;
    text-align: left;
    padding: 10px 2vw;
    min-width: 48px;
    min-height: 48px;
}

#hamburgerMenu::before {
    content: "☰";
}

#hamburgerMenu.open::before {
    content: "x";
}

nav {
    background-color: var(--body-color);
    text-align: center;
    color: var(--background-color);
}

ul.navLinks {
    display: none;
    list-style-type: none;
    padding: 15px;
}

ul.open.navLinks {
    display: block;
    padding: 5px;
    font-size: 30px;
}

nav a {
    text-decoration: none;
    color: var(--background-color);
}

.active {
    text-decoration: none;
    font-weight: bolder;
    background-color: rgb(91, 32, 42);
}

nav li {
    padding: 10px;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.socials {
    padding: 25px;
}

.socials img {
    border-radius: 50%;
    margin: 5px;
}

footer p {
    font-size: 14px;
    padding: 5px;
}

/* home */
.hero img {
    width: 100%;
    height: auto;
}

.cta {
    margin: 15px;
    width: 91%;
    height: 60px;
    padding: 15px;
    font-size: 25px;
    border-radius: 12px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    background: black;
}

.cta::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.cta::before {
    content: "";
    background: linear-gradient(
        45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #ff00c8, #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glow 8s infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}

@keyframes glow {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0 ;}
    100% {background-position:0 0;}
}

section {
    margin: 4vw;
    display: grid;
}

section img {
    justify-self: center;
    margin: 20px;
    box-shadow: 2px 2px 30px;
    border-radius: 25%;
}

/* gallery */
.gallery-main {
    margin: 2vw;
    text-align: center;
}

#photo-here {
    min-height: 1800px;
    padding: 30px;
    display: grid;
}

.photo {
    justify-self: center;
    border: 2px solid var(--body-color);
    margin: 30px;
    border-radius: 12px;
    box-shadow: 2px 2px 30px var(--extra-blue);
}

dialog {
    margin: 50% 30px;
    padding: 20px;
    background: pink;
    border: none;
    border-radius: 8px 50px;
}

.close-button {
    padding: 5px;
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.456);
    border: 1px solid ;
    border-radius: 5px;
}

::backdrop {
    opacity: .5;
    background-color: black;
}

/* appointment */
