@media only screen and (min-width: 600px) {
    header, nav ul {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    header h1 {
        padding: 55px;
        font-size: 44px;
    }

    header {
        align-items: center;
    }

    header, main, nav, footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    #hamburgerMenu {
        display: none;
    }

    ul.navLinks, ul.navLinks.open {
        display: flex;
        justify-content: space-evenly;
    }

    nav a {
        padding: 10px;
    }

    nav li:hover {
        font-weight: bolder;
    }

    /* home */
    .home-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hero-header, .cta {
        grid-column: 1/ span 2;
    }

    .cta {
        margin: 30px;
        left: 2%;
    }

    .cta:hover::before {
        opacity: 1;
    }

    .cta:active:after {
        background: transparent;
    }

    .cta:active {
        color: #000;
    }

    /* gallery */
    .gallery-main {
        margin: 30px auto;
        display: grid;
    }

    .gallery-main h2 {
        grid-row: 1/2;
    }

    .gallery-main p {
        grid-row: 2/3;
    }

    #photo-here {
        grid-row: 3/4;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    dialog {
        margin: 20% 40%;
    }

    /* appointment */
}