/* universal for all pages */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    color: var(--body-color);
    font-size: 20px;
    width: auto;
}

:root {
    --shadow1: rgba(255, 32, 32, 0.862);
    --shadow2: rgb(247, 242, 233);
    --heading-color: rgba(0, 0, 0, 0.929);
    --body-color: #37393aff;

    --heading-font: 'Poetsen One', system-ui ;
    --body-font: 'Roboto', sans-serif; 
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--heading-color);
    padding: 25px;
}

h2 {
    font-size: 35px;
    background-color: var(--shadow1);
}

header, footer {
    background-color: var(--shadow2);
    text-align: center;

}

header {
    display: flex;
    position: relative;

}
header img, .logo img{
    padding: 30px 0px 30px 2vw;
    width: 150px;
    height: auto;
}

header h1 {
    padding: 15px;
    font-size: 30px;
}

nav {
    background-color: black;
    text-align: center;
    font-size: 20px;
    color: white;
}

button {
    min-width: 50px;
    min-height: 50px;
    margin: 10px;
    padding: 10px;
}

#hamburgerMenu {
    display: block;
    font-size: 40px;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    width: 50px;
    text-align: left;
    padding: 10px 2vw;
    min-width: 48px;
    min-height: 48px;
}

#hamburgerMenu::before {
    content: "☰";
}

#hamburgerMenu.open::before {
    content: "x";
}

ul.navLinks {
    display: none;
    list-style-type: none;
}

ul.open.navLinks {
    display: block;
}

nav a {
    color: white;
    text-decoration: none;
}

nav .active {
    background-color: rgba(123, 29, 29, 0.635);
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav li {
    padding: 10px;
    margin: 5px 0;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

footer .logo img {
    width: 100px;
    height: 100px;
    padding: 0;
}

.social-media {
    padding: 25px;
}

.social-media img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 10px;
}

footer p, #currentYear {
    background-color: black;
    color: #f6f7eb;
    padding: 5px;
    font-size: 14px;
}

/* directory page */
.directory-header {
    text-align: center;
    padding: 20px;
}

.directory-buttons {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
}

.directory-buttons img{
    border: 5px solid; 
    border-image-slice: 1;
}

#grid-button, #list-button {
    border: none;
    box-shadow: none;
}

#member-directory {
    margin: 10vw;
    grid-template-rows: 100%;
}

#member-directory.grid {
    width: 300px;
    height: 1350px;
}

#member-directory img {
    margin-bottom: 20px;
    width: 300px;
    height: auto;
}

section.information {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: auto;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(236, 251, 245);
    justify-content: space-evenly;
    row-gap: 15px;
}

.list h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

section.information:nth-child(even) {
    background-color: rgba(216, 216, 216, 0.428);
}

/* home page */

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cta {
    margin: 0;
    width: 100%;
    height: 60px;
    padding: 15px;
    position: relative;
    transform: translate(-50%, -100%);
    top: 60%;
    left: 50%;
    opacity: 0.75;
    font-size: 25px;
}

main section  {
    margin: 1rem 4vw;
    color: black;
    border: 1px solid rgb(63, 60, 60, 0.4);
    border-radius: 5px;
    background-color: #eee;
    text-align: center;
}

.current-events {
    background-image: url(../images/pokemon.webp);
    background-size: cover;
}

#current-paragraph {
    margin: 50px 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.185);
    text-shadow: 2px 2px black;
    padding: 10px;
}

#current-paragraph {
    color: white;
    text-decoration: none;
}

.weather-info table {
    min-width: 400px;
    min-height: 100px;
    width: 100%;
    height: auto;
    margin: 0;
    border: 1px solid rgb(63, 60, 60, 0.4);
}

.weather-info th {
    background-color: rgb(255, 255, 255);
}

.weather-info td {
    background-color: rgba(113, 222, 255, 0.5);
}

.weather-info td, .weather-info th {
    text-align: center;
    vertical-align: middle;
    border: none;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

.spotlights {
    width: auto;
    height: auto;
    border: 1px solid lightgray;    
    margin: 30px;
    background-color: white;
    padding: 20px;
}

.spotlights h3 {
    margin: 25px 0;
    font-size: larger;

}
