/* universal for all pages */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    color: var(--body-color);
    font-size: 20px;
    width: auto;
}

:root {
    --shadow1: rgba(255, 32, 32, 0.862);
    --shadow2: rgb(247, 242, 233);
    --heading-color: rgba(0, 0, 0, 0.929);
    --body-color: #37393aff;

    --heading-font: 'Poetsen One', system-ui ;
    --body-font: 'Roboto', sans-serif; 
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--heading-color);
    padding: 20px;
}

h2 {
    font-size: 35px;
    background-color: var(--shadow1);
    text-align: center;
}

header, footer {
    background-color: var(--shadow2);
    text-align: center;

}

header {
    display: flex;
    position: relative;

}
header img, .logo img{
    padding: 30px 0px 30px 2vw;
    width: 100px;
    height: auto;
}

header h1 {
    padding: 15px 5px;
    font-size: 30px;
}

nav {
    background-color: black;
    text-align: center;
    font-size: 20px;
    color: white;
    padding-bottom: 50px;
}

button {
    min-width: 50px;
    min-height: 50px;
    margin: 10px;
    padding: 10px;
}

#hamburgerMenu {
    display: block;
    font-size: 40px;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    width: 50px;
    text-align: left;
    padding: 10px 2vw;
    min-width: 48px;
    min-height: 48px;
}

#hamburgerMenu::before {
    content: "☰";
}

#hamburgerMenu.open::before {
    content: "x";
}

ul.navLinks {
    display: none;
    list-style-type: none;
}

ul.open.navLinks {
    display: block;
}

nav a {
    color: white;
    text-decoration: none;
}

nav .active {
    background-color: rgba(123, 29, 29, 0.635);
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav li {
    padding: 10px;
    margin: 5px 0;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

footer .logo img {
    width: 100px;
    height: 100px;
    padding: 0;
}

.social-media {
    padding: 25px;
}

.social-media img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 10px;
}

footer p, #currentYear {
    background-color: black;
    color: #f6f7eb;
    padding: 5px;
    font-size: 14px;
}

/* directory page */
.directory-header {
    text-align: center;
    padding: 20px;
}

.directory-buttons {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
}

.directory-buttons img{
    border: 5px solid; 
    border-image-slice: 1;
}

#grid-button, #list-button {
    border: none;
    box-shadow: none;
}

#member-directory {
    margin: 10vw;
    grid-template-rows: 100%;
}

#member-directory.grid {
    width: 300px;
    height: 1350px;
}

#member-directory img {
    margin-bottom: 20px;
    width: 300px;
    height: auto;
}

section.information {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: auto;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(236, 251, 245);
    justify-content: space-evenly;
    row-gap: 15px;
}

.list h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

section.information:nth-child(even) {
    background-color: rgba(216, 216, 216, 0.428);
}

/* home page */

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cta {
    margin: 0;
    width: 100%;
    height: 60px;
    padding: 15px;
    position: relative;
    transform: translate(-50%, -100%);
    top: 60%;
    left: 50%;
    opacity: 0.75;
    font-size: 25px;
}

main section  {
    margin: 1rem 4vw;
    color: black;
    border: 1px solid rgb(63, 60, 60, 0.4);
    border-radius: 5px;
    background-color: #eee;
    text-align: center;
}

.current-events {
    background-image: url(../images/pokemon.webp);
    background-size: cover;
}

#current-paragraph {
    margin: 50px 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.185);
    text-shadow: 2px 2px black;
    padding: 10px;
}

#current-paragraph {
    color: white;
    text-decoration: none;
}

.weather-info {
    width: 92%;
    height: auto;
    background-color: rgba(234, 234, 234, 0.466);
}

.weather-info h3 {
    background-color: blue;
    font-size: 27px;
    color: rgb(255, 244, 227);
    padding: 8px;
    margin-bottom: 15px;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

.current, .weather-forecast {
    padding-bottom: 15px;
}

.weather-forecast h3 {
    flex: 0 0 100%;
}

.weather-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.spotlights {
    width: 86%;
    height: auto;
    border: 1px solid lightgray;    
    margin: 30px;
    background-color: white;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.spotlights h3 {
    font-size: larger;
}

.top {
    grid-row: 1/2;
    grid-column: 1/3;
}

.top2 {
    grid-column: 1/3;
    padding-bottom: 20px;
}

.ceoIcon {
    grid-row: 3/5;
}

.sideInfo {
    grid-column: 2/3;
    text-align: left;
    font-size: 15px;
    align-content: center;
}

/* Join page */
.formH2 {
    text-align: center;
    padding: 20px;

}

form div {
    color: #9c2c13;
    font-size: smaller;
    margin-top: 20px;
    margin-left: 10px;
}

form fieldset {
    margin: 2rem 2vw;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: var(--body-color);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: var(--body-color);
    font-size: .8rem;
}

form label.top input, form label.top select, #description {
    appearance: none;
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(62, 203, 228, 0.156);
}

form fieldset span strong {
    margin-top: 2rem;
    font-size: 21px;
    font-weight: bold;
}

form label.radio {
    display: block;
    padding: 8px;
    color: #555;
    font-size: 16px;
}

#description {
    height: 100px;
    flex: 2;
    padding: 5px;
}

form input.submitBtn {
    border: none;
    background-color: #31e4f0;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    transition: opacity 0.5s ease, color 0.5s ease;
}

.join-section {
    background-color: white;
    border: none;

}

.join-section h3, #show-dialog h4 {
    font-size: 35px;
    background-color: rgba(62, 203, 228, 0.156);
    padding: 20px;
}

.level {
    border: 1px solid black;
    margin: 10px 0;
    padding: 20px 0 5px 0;
    background-image: linear-gradient(#eee, #68d4e5);
    border-radius: 10px 50px;
    animation-duration: 8s;
    animation-name: colorful;
    animation-iteration-count: infinite;
}

.level button, dialog button {
    background-color: rgb(0, 0, 0);  
    overflow: hidden;  
    animation-duration: 8s;
    animation-name: colorful;
    animation-iteration-count: infinite;
}

@keyframes colorful {
    0% {color: white;}
    25% {color: silver;}
    50% {color: gold;}
    75% {color: rgb(252, 189, 28);}
    100% {color: rgb(198, 171, 190);}
}

dialog {
    padding: 1rem;
    box-shadow: 0 0 3rem #515050;
    width: 90%;
    max-width: 600px;
    margin: 300px 23px;
}

/* thank you page */
#results {
    margin: 4vw;
}

#results h3 {
    font-size: 30px;
    text-align: center;
}

#results p {
    padding: 5px;
}

/* discover page */
.stats {
    margin: 4vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    text-align: right; 
    padding: 0 0 10px 0;
}

.right {
    text-align: left;
    padding: 0 0 10px 20px;
}

iframe {
    border: 0;
    max-width: 200px;
    height: 200px;
}

figure {
    margin: 30px;
}
